/* HOMEPAGE CSS */

.app-container {
    max-width: 990px;
    margin: 0 auto
}

.mh100 {
    min-height: 100vh;
    padding: 5rem 0
}

.PlpPageContent {
    padding: 80px 0 60px 0;
}

:root {
    --jumbotron-padding-y: 1rem;
}


.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 10px;
    border-radius: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.boxShadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.cardBodySm {
    padding: 0.6rem;
}

.userListItem {
    text-decoration: none;
    color: #666666;
    border: 0px;
}

.userListItem:hover {
    text-decoration: none;
    color: #666666
}

.userListItemSpan {
    color: #8a8a8a;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQ1MS44NDYgNDUxLjg0NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxLjg0NiA0NTEuODQ3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTM0NS40NDEsMjQ4LjI5MkwxNTEuMTU0LDQ0Mi41NzNjLTEyLjM1OSwxMi4zNjUtMzIuMzk3LDEyLjM2NS00NC43NSwwYy0xMi4zNTQtMTIuMzU0LTEyLjM1NC0zMi4zOTEsMC00NC43NDQgICBMMjc4LjMxOCwyMjUuOTJMMTA2LjQwOSw1NC4wMTdjLTEyLjM1NC0xMi4zNTktMTIuMzU0LTMyLjM5NCwwLTQ0Ljc0OGMxMi4zNTQtMTIuMzU5LDMyLjM5MS0xMi4zNTksNDQuNzUsMGwxOTQuMjg3LDE5NC4yODQgICBjNi4xNzcsNi4xOCw5LjI2MiwxNC4yNzEsOS4yNjIsMjIuMzY2QzM1NC43MDgsMjM0LjAxOCwzNTEuNjE3LDI0Mi4xMTUsMzQ1LjQ0MSwyNDguMjkyeiIgZmlsbD0iIzgwODA4MCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    background-size: 10px;
    background-position: right 13px;
    background-repeat: no-repeat;
    padding: 7px 23px 3px 25px;
}

.userListNumber {
    color: #333333;
}

.searchFilter {
    position: relative;
}

.fC1 {
    background-size: 20px;
    border-color: #ebeef1;
    background-color: #f8f9fa;
    background-position: 98% 9px;
    background-repeat: no-repeat;
}

.clear {
    position: absolute;
    right: 30px;
    top: 9px;
    color: #46a3e4;
    font-size: 14px;
}

.no_items {
    color: #6c757d !important;
    font-size: 20px;
}

.homeContainer {
    padding-bottom: 0px;
}

.overlayBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.serviceArea {
    position: relative
}

.singleService {
    padding: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    color:#ffffff;
}

.singleService:hover {
    background-image: -moz-linear-gradient(0deg, #673AB7 0%, #3F51B5 100%);
    background-image: -webkit-linear-gradient(0deg, #673AB7 0%, #3F51B5 100%);
    background-image: -ms-linear-gradient(0deg, #673AB7 0%, #3F51B5 100%);
    box-shadow: -14.142px 14.142px 20px 0px rgba(10, 10, 10, 0.5);
    cursor: pointer;
}